docs/**/*.md linguist-vendored=false
docs/**/*.md linguist-generated=false
docs/**/*.md linguist-documentation=false
docs/**/*.md linguist-detectable=true
docs/api-service.md linguist-language=ts
docs/api-service.*.md linguist-language=ts
docs/mobile-app.md linguist-language=dart
docs/mobile-app.*.md linguist-language=dart
docs/admin-panel.md linguist-language=svelte
docs/admin-panel.*.md linguist-language=svelte
